.card-container { 
    display: ruby-base-container ;
    flex-direction: column;
    background-color: #95dada ;
    border-radius: 10px;
    padding: 25px 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.15s ease-out;
    box-shadow: 0 8px 16px 0 ;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  